
.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  header {

  }

  main{
    .container_card{
      .card{

      }
    }

  }

  footer {
    .paginator {
      //width: 500px;
    }
  }
}



