<div class="container flex-column">
  <header>
    <div class="input-group input-group-lg p-1">
      <span class="input-group-text btn-secondary" id="inputGroup-sizing-lg">Search</span>
      <input type="text" class="form-control" (keyup)="nextOnSearch(input.value)" #input placeholder="name..."
             aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <a class="input-group-text btn-dark" href="https://github.com" target="_blank">GitHub</a>
    </div>
  </header>
  <main>
    <div class="container_card">
      <div class="row row-cols-1 row-cols-md-2 g-10">
        <div class="card " *ngFor="let card of usersList ; index as idx">
          <div class="card-header p-1" style=" cursor: pointer; text-align: start;" (click)="openDialog(card)">
            <strong>Name:</strong>
            {{card.name}}
          </div>
          <div class="card-body p-1">
            <blockquote class="blockquote mb-0">
              <p>
                {{ (card.description.length > 52) ? (card.description | slice:0:52) + '....' : (card.description) }}
              </p>
              <footer class="blockquote-footer">
                <cite title="Source Title">{{card.author}}</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="flex position-relative">

    <nav class="flex " aria-label="...">
      <div *ngIf="isSpinner" class="d-flex align-items-center position-absolute" style="left: 0; width: 120px;">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>


      <ul class="pagination">
        <li class="page-item"
            [class.disabled]="isSpinner"
        >
          <button class="page-link" (click)="refreshUsersList(10)">Start</button>
        </li>
        <li class="page-item"
            [class.disabled]="isSpinner || limit === 10"
        >
          <button class="page-link" (click)="refreshUsersList(limit - 10)">Back</button>
        </li>

        <li class="page-item disabled">
          <button class="page-link">{{limit / 10}}</button>
        </li>
        <li class="page-item"
            [class.disabled]="isSpinner"
        >
          <button class="page-link" (click)="refreshUsersList(limit + 10)">Next</button>
        </li>


      </ul>


    </nav>
  </footer>

</div>

